doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/') Home
      if isAuthenticated
        li.nav-item
          a.nav-link(href='/join') Join the Club
        li.nav-item
          a.nav-link(href='/auth/logout') Logout
      else
        li.nav-item
          a.nav-link(href='/auth/login') Log In
        li.nav-item
          a.nav-link(href='/auth/signup') Sign Up

    block content
